body {
    margin: 0;
    background: #050816;
    color: white;
    font-family: Arial;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
}

.player-area {
    text-align: center;
}

canvas {
    background: black;
    border: 3px solid cyan;
    box-shadow: 0 0 20px cyan;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

#overlay h1 {
    color: cyan;
    font-size: 50px;
}

.controls {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #aaa;
}